<html>
    <head>
        <title>TODO App</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" ></link>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" ></link>
    </head>
    <body ng-app="app">
        <h1>TODO App</h1>
        <section ng-controller="homeController as vm">
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Status</td>
                        <td>Created Date</td>
                        <td>Modified Date</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in vm.todos">
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.resolve }}</td>
                        <td>{{ todo.createdDate }}</td>
                        <td>{{ todo.modifiedDate }}</td>
                        <td>
                            <input type="button" value="Edit"></input>
                            <input type="button" value="Complete"></input>
                            <input type="button" value="Delete"></input>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </section>
        <script type="application/javascript" src="lib/angular.min.js"></script>
        <script type="application/javascript" src="lib/jquery.min.js"></script>
        <script type="application/javascript" src="lib/bootstrap.min.js"></script>
        <script type="application/javascript" src="modules/home/module.js"></script>
        <script type="application/javascript" src="modules/home/controllers/homeController.js"></script>
        <script type="application/javascript" src="app.js"></script>
    </body>
</html>